@font-face {
  src: url("../fonts/helveticaneuew.woff2");
  font-family: "helveticaneuew";
}
@font-face {
  src: url("../fonts/para-text.woff2");
  font-family: "para-text";
}
@font-face {
  src: url("../fonts/small-title.woff2");
  font-family: "small-title", sans-serif;
}
@font-face {
  src: url("../fonts/wider.woff2");
  font-family: "wider";
}
@font-face {
  src: url("../fonts/Montserrat-Bold.ttf");
  font-family: "montserrat-bold";
}
@font-face {
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "montserrat-regular";
}
@font-face {
  src: url("../fonts/Blacker-Sans-Pro-Extrabold.otf");
  font-family: "Blacker-Sans-Pro-Extrabold";
}
@font-face {
  src: url("../fonts/horizon.otf");
  font-family: "horizon";
}
@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: "poppins";
}
@font-face {
  src: url("../fonts/Poppins-Bold.ttf");
  font-family: "poppins-bold";
}
.para-text {
  font-family: "para-text";
}

.wider {
  font-family: "wider";
  font-weight: bold;
}

.montserrat-bold {
  font-family: "montserrat-bold";
}

.poppins {
  font-family: "poppins";
}

.poppins-bold {
  font-family: "poppins-bold";
}

.montserrat-regular {
  font-family: "montserrat-regular";
}

.blacker-sans-pro-extrabold {
  font-family: "Blacker-Sans-Pro-Extrabold";
}

.horizon {
  font-family: "horizon";
}

.small-title {
  font-family: "small-title", sans-serif;
}

.helveticaneuew {
  font-family: "helveticaneuew";
}

.site-header .header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.site-header .header-row .columns {
  flex: 1;
}
.site-header .header-row .columns:nth-child(2) img {
  max-width: 275px;
}
@media (max-width: 768px) {
  .site-header .header-row .columns:nth-child(2) img {
    width: 190px;
  }
}

.closeCross {
  cursor: pointer;
  float: left !important;
  font-size: 2rem;
  margin: unset !important;
  transition: all 0.4s ease-in-out;
}
.closeCross:hover {
  transform: rotate(90deg);
}

.offcanvas-body .social-links {
  position: absolute;
  width: 100%;
  right: 0;
  padding: 0 15px;
  text-align: left;
  display: flex;
  font-family: "montserrat-regular";
  flex-direction: column;
}
.offcanvas-body .social-links a {
  text-decoration: none;
  color: #807D83;
  line-height: 1.7;
  font-size: 1.2rem;
  font-family: "para-text";
}
.offcanvas-body .social-links a:hover {
  color: black;
}

.menus li a {
  color: #2f2b36;
  text-decoration: none;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
  font-size: 3rem;
  font-family: wider;
}
.menus li a:hover {
  background: linear-gradient(45deg, #00968C, #214ED7);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.txt-primary {
  color: #6051e5;
}

.txt-secondary {
  color: #4f43bd;
}

.txt-theme {
  color: #FFB000;
}

.bg-primary {
  background: #6051e5 !important;
}

.bg-secondary {
  background: #4f43bd !important;
}

.btn-theme {
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 22px;
  text-decoration: none;
  padding: 11px 26px;
  background: #000;
  font-weight: 500;
  color: #fff;
}
.btn-theme:hover {
  color: #fff;
  background: linear-gradient(to right, #00968C, #214ED7);
}

.btn-theme-outline {
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 22px;
  text-decoration: none;
  padding: 11px 26px;
  background: #302B35;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
}
.btn-theme-outline:hover {
  color: #000;
  background: #fff;
}

.btn-theme-form {
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 22px;
  text-decoration: none;
  padding: 11px 26px;
  background: #000000;
  font-weight: 500;
  color: #ffffff;
  min-width: 190px;
  border: 0;
}
.btn-theme-form:hover {
  background: #ffffff;
  color: #000;
}

.form-bg {
  background: linear-gradient(67deg, #000000 8.8918585526%, #05948C 48.2696533203%, #7B62DF 80.9020996094%);
}

footer img {
  max-width: 250px;
}

.footer-bg {
  background: #fff;
  position: relative;
  height: 300px;
}
@media (max-width: 960px) {
  .footer-bg {
    height: unset;
  }
}
.footer-bg ul li a {
  line-height: 2;
}
.footer-bg ul li a:hover {
  color: #007E85 !important;
}
.footer-bg iconify-icon {
  color: #FFB000;
  font-size: 1.5rem;
  vertical-align: middle;
}

html {
  overflow-x: hidden;
}

.section-title {
  font-size: 53px;
  color: #fff;
  text-align: center;
  transform: translate(0%, 184%);
  font-weight: bold;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 41px;
    transform: translate(0%, 129px);
  }
}

.slick-next {
  right: 112px !important;
  top: 50%;
  z-index: 11;
}

.slick-prev {
  left: 112px !important;
  top: 50%;
  z-index: 11;
}

.slick-dots li button {
  background: lightgrey !important;
  border-radius: 50%;
}
.slick-dots li button:before {
  opacity: 0 !important;
}

.slick-dots li.slick-active button {
  background: #007E85 !important;
  border-radius: 50%;
}

.carousel-indicators {
  bottom: 15px;
}
.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  border: 2px solid #fff !important;
}

.event-slider {
  padding: 70px 0;
  background-color: #000000;
}

.eventPhoto img {
  transition: all 0.7s ease-in-out;
}
.eventPhoto:hover img {
  transform: scale(1.05);
}

a img {
  transition: all 0.7s ease-in-out;
}
a:hover .eventPhoto img {
  transform: scale(1.05);
}
a:hover h5 {
  background: linear-gradient(45deg, #00968C, #214ED7);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
}

.select_adjust {
  height: 48px;
  width: 230px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
@media (max-width: 768px) {
  .select_adjust {
    width: 100%;
  }
}
.select_adjust:hover {
  border-color: #000;
}
.select_adjust:focus {
  box-shadow: none;
}

.sit_status {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 6px;
}
@media (max-width: 768px) {
  .sit_status {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.sit_status .sit {
  display: none;
}
.sit_status label {
  cursor: pointer;
  padding: 6px 23px;
  color: #000000;
  border-radius: 30px;
  font-size: 15px;
  background: #343535;
  color: #fff;
}
.sit_status label:hover {
  background: #00968C;
  color: #fff;
}
.sit_status .sit:checked + label {
  background-color: #00968C;
  padding: 6px 23px;
  color: #fff;
  border-radius: 30px;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .bottom-box {
    position: absolute;
    left: 0;
    right: 15px;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  .form-bottom-box {
    position: absolute;
    width: 85%;
    bottom: 44px;
  }
}

.hover-blue {
  border: 0;
}
.hover-blue:hover {
  background: #204DD7 !important;
}

.hover-teal {
  border: 0;
}
.hover-teal:hover {
  background: linear-gradient(to right, #00968C, #214ED7);
}

.seat_plan {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-height: 400px;
  overflow-y: auto;
}
.seat_plan::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 7px;
}
.seat_plan::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: linear-gradient(to right, #fff, #e4e4e4);
  border: 1px solid #ccc;
}
.seat_plan .items {
  background: #005EF7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
  border-radius: 30px;
  font-size: 20px;
}

.subscribe {
  background: #BABDC7;
}

.subs-input {
  width: 100%;
  background: transparent;
  outline: 0;
  margin-top: 25px;
  border: 0;
  color: #fff;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
}
.hr-line {
  background: #000000;
  height: 1px;
  border: 0;
  opacity: 1;
  margin-top: 25px;
}

.eventPhotoSlider {
  background-image: url("../images/DGM Background.avif");
  background-size: cover;
}

.top-search-events {
  background-image: url(../images/pexels-wendy-wei-1494666.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  background-position: 61% 70%;
}

.top-search-events-new, .top-search-events-new-two {
  background-image: url(../images/Concert\ Guitarist\ Silhouette.avif);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  background-position: 60% 70%;
}
.top-search-events-new .main-title, .top-search-events-new-two .main-title {
  font-size: 10vw;
  color: #fff;
  font-weight: bolder;
  line-height: 0.7;
}
.top-search-events-new .sub-title, .top-search-events-new-two .sub-title {
  font-size: 4.6vw;
  color: #fff;
  font-weight: bolder;
}
.top-search-events-new .title, .top-search-events-new-two .title {
  font-size: 55px;
  color: #fff;
  font-weight: bolder;
}

.top-search-events-new-two {
  background-image: url(../images/brickbackground.avif);
}

.offcanvas-backdrop.show {
  opacity: 0.8;
}

.about, .about-new {
  background: linear-gradient(to right, #000000 29%, #214ED7, #00968C);
}
@media (min-width: 1024px) {
  .about, .about-new {
    height: 430px;
  }
}
@media (min-width: 1024px) {
  .about .intro, .about-new .intro {
    position: absolute;
    bottom: 10px;
  }
}
.about .intro h4, .about-new .intro h4 {
  text-transform: uppercase;
}
.about .intro h1, .about-new .intro h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 1.6px;
}

.about-new {
  background: #302B35;
  height: auto;
}

.sl-wrapper {
  background: #f8f9fa;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  font-family: "montserrat-regular";
}
@media (max-width: 768px) {
  .list-unstyled {
    text-align: center;
  }
}/*# sourceMappingURL=app.css.map */